@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VideoSphere</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style>
        .background {
            background-color: #FDF1E2;
            border-radius: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">


            @if (!User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("VideoSphere", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }

            @if (User.Identity.IsAuthenticated)
            {
                <div class="container">
                    @Html.ActionLink("VideoSphere", "Index", "Movies", new { area = "" }, new { @class = "navbar-brand" })
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Activer/désactiver la navigation" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (!User.IsInRole("Admin"))
                            {

                                <li>@Html.ActionLink("Accueil", "Index", "Movies", new { area = "" }, new { @class = "nav-link" })</li>

                                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                                <li>@Html.ActionLink("Edit", "Edit", "User", new { id = User.Identity.GetUserId() }, new { @class = "nav-link" })</li>

                                <li>@Html.ActionLink("Cart", "CartView", "Movies", new { id = User.Identity.GetUserId() }, new { @class = "nav-link" })</li>

                            }

                            @if (User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("AppUsers", "Index", "ApplicationUsers", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Stats", "Index", "Statistics", new { area = "" }, new { @class = "nav-link" })</li>

                            }
                        </ul>

                    </div>


                </div>
            }
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content background ">
        @RenderBody()
        <hr />
        <footer class="background">
            <p>&copy; @DateTime.Now.Year - VideoSphere - Le videotheque de vos reves</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
